[pager]
    diff          = delta
    log           = delta
    reflog        = delta
    show          = delta

[delta]
    line-numbers  = true
    side-by-side  = true
    plus-style    = "syntax #012800"
    minus-style   = "syntax #340001"
    syntax-theme  = Visual Studio Dark+
    navigate      = true

[interractive]
    diffFilter    = delta --color-only

[user]
    name          = sugawarayss
    email         = sugawarayss@inap-vision.co.jp
[ghq]
    root          = /Users/sugawarayss/PROJECTS
[commit]
    template      = /Users/sugawarayss/.config/git/.commit_template
[core]
    quotepath     = false
    editor        = nvim
[init]
    defaultBranch = main
