[pager]
    diff          = delta
    log           = delta
    reflog        = delta
    show          = delta

[delta]
    line-numbers  = true
    side-by-side  = true
    syntax-theme  = Monokai Extended
    navigate      = true
    side-by-side  = true

[interractive]
    diffFilter    = delta --color-only

[user]
	name = yss
	email = waku.pdxppxzy@gmail.com
[ghq]
	root = ~/PROJECTS
[commit]
	template = ~/.config/git/.commit_template
[core]
    quotepath     = false
    editor        = nvim
	autocrlf      = input
[init]
    defaultBranch = main
